<div class="container" id="portfolio">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>
        Portfolio
      </h1>
      <span class="section-actions">
        <a href="#" *ngIf="sortEnabled" (click)="publishSort(); $event.preventDefault();">Save Sort | </a>
        <a href="#" (click)="newProjectForm=!newProjectForm;$event.preventDefault()">
          New +
        </a>
      </span>
    </div>
    <div class="col-xs-12">
      <div class="masonry-layout"  [sortablejs]="projectsList" [sortablejsOptions]="projectsListOptions">
        <div class="masonry-layout-box text-center"  *ngFor="let project of projectsList; let i = index" id="project_{{project.id}}">
          <div class="cardContainer">
            <div class="card" (click)="transition(i)">
              <div class="side front">
                <img src="{{project.screenshots[0]}}" alt="{{project.title}}">
                <div class="info">
                  <h3>{{project.title}}</h3>
                  <p>{{project.tags}}</p>
                </div>
              </div>
              <div class="side back">
                <div class="caption">
                  <div class="content">
                    <h3>{{project.title}}</h3>
                    <p>{{project.description}}</p>
                    <p>{{project.tags}}</p>
                  </div>
                  <div class="actions">
                    <p>
                      <a *ngIf="project.link && project.link !== 'undefined'" href="{{project.link}}" target="_blank">Go to Website</a>
                      <a *ngIf="!project.link || project.link === 'undefined'" href="#" (click)="$event.preventDefault()" class="disabled">Internal Product</a>
                      <a href="#" (click)="projectGalleryInModal=project.screenshots; $event.preventDefault()">View Gallery</a>
                    </p>
                    <a href="#" class="edit_project_button" (click)="editProject=project;$event.preventDefault()">
                      <i class="glyphicon glyphicon-edit"></i> Edit
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show in" tabindex="-1" *ngIf="projectGalleryInModal && projectGalleryInModal.length"  role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="projectGalleryInModal=[]">
        <svg height="64" version="1.1" width="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
          <desc>Created with Snap</desc>
          <defs></defs>
          <g>
        		<path fill="none" stroke="#fff" stroke-width="5" stroke-linejoin="bevel" d="M12.972944,50.936147C12.972944,50.936147,51.027056,12.882035,51.027056,12.882035"></path>
        		<path fill="none" stroke="#fff" stroke-width="5" stroke-linejoin="bevel" d="m 5.1969746,31.909063 53.8166424,0" style="opacity: 0;"></path>
        		<path fill="none" stroke="#fff" stroke-width="5" stroke-linejoin="bevel" d="M12.972944,12.882035000000002C12.972944,12.882035000000002,51.027056,50.936147,51.027056,50.936147"></path>
        	</g>
        </svg>
      </button>
      <a *ngIf="projectGalleryInModal.length > 1" class="left carousel-control" href="#project_screenshots_carousel" role="button" data-slide="prev">
        <svg height="64" version="1.1" width="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
          <desc>Created with Snap</desc>
          <defs></defs>
          <g>
        		<path fill="none" stroke-width="5" stroke="#fff" d="M48.592939,9.792208C48.592939,9.792208,15.407061999999996,31.887987,15.407061999999996,31.887987C15.407061999999996,31.887987,48.592939,54.025974,48.592939,54.025974"></path>
        	</g>
        </svg>
        <span class="sr-only">Previous</span>
      </a>
      <a *ngIf="projectGalleryInModal.length > 1" class="right carousel-control" href="#project_screenshots_carousel" role="button" data-slide="next">
        <svg height="64" version="1.1" width="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
          <desc>Created with Snap</desc>
          <defs></defs>
          <g>
        		<path fill="none" stroke-width="5" stroke="#fff" d="M15.407061999999996,9.792208C15.407061999999996,9.792208,48.592939,31.887987,48.592939,31.887987C48.592939,31.887987,15.407061999999996,54.025974,15.407061999999996,54.025974"></path>
          	</g>
          </svg>
        <span class="sr-only">Next</span>
      </a>
      <div class="modal-body text-center">
        <div id="project_screenshots_carousel" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner" role="listbox">
            <div *ngFor="let image of projectGalleryInModal; let i = index" class="item {{i == 0? 'active':''}}">
              <img src="{{image}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade show in" *ngIf="newProjectForm || editProject.id" id="project_form_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="projectFormElement.reset();newProject={};editProject={};newProjectForm=false">
        <svg height="64" version="1.1" width="64" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
          <desc>Created with Snap</desc>
          <defs></defs>
          <g>
        		<path fill="none" stroke="#fff" stroke-width="5" stroke-linejoin="bevel" d="M12.972944,50.936147C12.972944,50.936147,51.027056,12.882035,51.027056,12.882035"></path>
        		<path fill="none" stroke="#fff" stroke-width="5" stroke-linejoin="bevel" d="m 5.1969746,31.909063 53.8166424,0" style="opacity: 0;"></path>
        		<path fill="none" stroke="#fff" stroke-width="5" stroke-linejoin="bevel" d="M12.972944,12.882035000000002C12.972944,12.882035000000002,51.027056,50.936147,51.027056,50.936147"></path>
        	</g>
        </svg>
      </button>
      <div class="modal-body">
        <div class="modal-header">
          {{editProject.id ? "Edit Project" : "Add Project"}}
        </div>
        <div class="row-fluid clearfix">
          <div class="col-xs-12">
            <form class="form-horizontal" (ngSubmit)="publishProjectItem()" #projectFormElement>

              <div id="new_project_carousel" class="carousel slide" data-ride="carousel" data-interval="false" style="margin: 15px 0;">
                <div class="carousel-inner" role="listbox">
                  <div>
                    <input style="display: none" type="file" (change)="onProjectScreenshotAdded($event)" #fileInput>
                    <a href="#" class="addNewProject" [ngClass]="(editProject.screenshots && editProject.screenshots.length) || (newProject.screenshots && newProject.screenshots.length) ? 'has_images' : ''" (click)="fileInput.click();$event.preventDefault()" >+</a>
                  </div>
                  <ng-container *ngIf="!editProject.id">
                    <div *ngFor="let image of newProject.screenshots; let i = index" class="item {{i == 0? 'active':''}}">
                      <img src="{{image}}" alt="{{newProject.title}}">
                      <a href="#" class="addNewProject removeImage has_images"  (click)="newProject.screenshots.splice(i, 1); $event.preventDefault()">
                        <i class="glyphicon glyphicon-trash"></i>
                      </a>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="editProject.id">
                    <div *ngFor="let image of editProject.screenshots; let i = index" class="item {{i == 0? 'active':''}}">
                      <img src="{{image}}" alt="{{editProject.id ? editProject.title : newProject.title}}">
                      <a href="#" class="addNewProject removeImage has_images"  (click)="editProject.screenshots.splice(i, 1); $event.preventDefault()">
                        <i class="glyphicon glyphicon-trash"></i>
                      </a>
                    </div>
                  </ng-container>
                </div>
                <a *ngIf="(newProject.screenshots && newProject.screenshots.length > 1) || (editProject.screenshots && editProject.screenshots.length > 1)" class="left carousel-control" href="#new_project_carousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a *ngIf="(newProject.screenshots && newProject.screenshots.length > 1) || (editProject.screenshots && editProject.screenshots.length > 1)" class="right carousel-control" href="#new_project_carousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" class="form-control" placeholder="Project Title" (input)="newProject.title = $event.target.value" *ngIf="!editProject.id">
                  <input type="text" class="form-control" placeholder="Project Title" (input)="editProject.title = $event.target.value" *ngIf="editProject.id" value="{{editProject.title}}">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <textarea rows="3" cols="" class="form-control" placeholder="Project Description" style="resize: none;" (input)="newProject.description = $event.target.value" *ngIf="!editProject.id"></textarea>
                  <textarea rows="3" cols="" class="form-control" placeholder="Project Description" style="resize: none;" (input)="editProject.description = $event.target.value" *ngIf="editProject.id">{{editProject.description}}</textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" class="form-control" placeholder="Tags" (input)="newProject.tags = $event.target.value" *ngIf="!editProject.id">
                  <input type="text" class="form-control" placeholder="Tags" (input)="editProject.tags = $event.target.value" *ngIf="editProject.id" value="{{editProject.tags}}">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" class="form-control" placeholder="Link" (input)="newProject.link = $event.target.value" *ngIf="!editProject.id">
                  <input type="text" class="form-control" placeholder="Link" (input)="editProject.link = $event.target.value" *ngIf="editProject.id" value="{{editProject.link}}">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <select class="form-control" placeholder="Company" (change)="newProject.company = $event.target.value" *ngIf="!editProject.id">
                    <option *ngFor="let company of companies" value="{{company.id}}">{{company.company}}</option>
                    <option value="">Other</option>
                  </select>

                  <select class="form-control" placeholder="Company" (change)="editProject.company = $event.target.value" *ngIf="editProject.id" value="{{editProject.company}}">
                    <option *ngFor="let company of companies" value="{{company.id}}">
                      {{company.company}}
                    </option>
                    <option value="">Other</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-default" [disabled]="!validateProjectForm()">Publish</button>
                  <a href="#" (click)="removeProjectItem(editProject.id);projectFormElement.reset();$event.preventDefault()" *ngIf="editProject.id"> | Remove Project</a>
                  <a href="#" (click)="projectFormElement.reset();newProject={};editProject={};newProjectForm=false; $event.preventDefault()"> | Cancel</a>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
