//colors
$color_gallery_approx: #eeefef;
$color_pickled_bluewood_approx: #34495e;
$white: #fff;
$color_gallery_90_approx: rgba(238, 239, 239, 0.9);
$color_gallery_0_approx: rgba(238, 239, 239, 0.0);
$white_50: rgba(255, 255, 255, 0.5);
$color_alto_approx: #ddd;
$color_cinnabar_approx: #e74c3c;
$black_80: rgba(0, 0, 0, 0.8);

//fonts
$FONT_FAMILY: 'Roboto', monospace;


// BRANDING COLORS

// BASE
$BLACK: #677c8a;
$WHITE: #FFFFFF;

// LIGHT THEME
$LIGHT_THEME_DARK_BG: #E6E9ED;
$LIGHT_THEME_LIGHT_BG: #F5F7FA;
// MEDIUM THEME
$MEDIUM_THEME_DARK_BG: #CCD1D9;
$MEDIUM_THEME_LIGHT_BG: #AAB3BD;
// DARK
$DARK_THEME_DARK_BG: #656D78;
$DARK_THEME_LIGHT_BG: #434A54;
